*{
  margin: 0;
  padding: 0;
}


body {
 
  background-image: url("./assets/car2.jpg") ;
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
  font-family:Arial, Helvetica, 'Times New Roman';

  backdrop-filter: blur(8px);
}

 
 
  
